In [ ]:
import sys
import pandas as pd
import docplex.mp
from collections import namedtuple
from docplex.mp.model import Model

# Import data

# Sets

In [ ]:
int_cod = ('JPN',  'LKA',  'HKG',  'CHN',  'SGP',  'MYS',  'KOR',  'IND',  'OAS',  'PAK',  'IDN',  'PHL',  'BGD',  'THA',
  'VNM',  'KHM',  'MMR')
regions_cod = ('AFR','EUR','ELT','WLT','MDE','NAM','OCE')
economics = tuple(int_cod + regions_cod)

In [ ]:
vessel_type = ()
port = ()

# Parameters

In [ ]:
demand